@font-face {
  font-family: 'minecraftiaregular';
  src: url('fonts/files/minecraftia-regular-webfont.eot');
  src:
    url('fonts/files/minecraftia-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/files/minecraftia-regular-webfont.woff2') format('woff2'),
    url('fonts/files/minecraftia-regular-webfont.woff') format('woff'),
    url('fonts/files/minecraftia-regular-webfont.ttf') format('truetype'),
    url('fonts/files/minecraftia-regular-webfont.svg#minecraftiaregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FontAwesome';
  src: url('fonts/files/fontawesome-webfont.eot?v=4.5.0');
  src:
    url('fonts/files/fontawesome-webfont.eot?#iefix&v=4.5.0') format('embedded-opentype'),
    url('fonts/files/fontawesome-webfont.woff2?v=4.5.0') format('woff2'),
    url('fonts/files/fontawesome-webfont.woff?v=4.5.0') format('woff'),
    url('fonts/files/fontawesome-webfont.ttf?v=4.5.0') format('truetype'),
    url('fonts/files/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@define-mixin icon $type {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &::before {
    @extend $type;
  }
}

@define-extend eyedropper {
  content: "\f1fb";
}

@define-extend paint-brush {
  content: "\f1fc";
}

@define-extend eraser {
  content: "\f12d";
}

@define-extend trash-o {
  content: "\f014";
}

@define-extend files-o {
  content: "\f0c5";
}

@define-extend download {
  content: "\f019";
}

@define-extend twitter {
  content: "\f099";
}

@define-extend undo {
  content: "\f0e2";
}

@define-extend repeat {
  content: "\f01e";
}

@define-extend columns {
  content: "\f07e";
}

@define-extend rows {
  content: "\f07d";
}

@define-extend help {
  content: "\f128";
}

@define-extend bucket {
  content: "\f0f4";
}
