@font-face {
  font-family: 'minecraftiaregular';
  src: url('fonts/files/minecraftia-regular-webfont.eot');
  src: url('fonts/files/minecraftia-regular-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('fonts/files/minecraftia-regular-webfont.woff2') format('woff2'),
    url('fonts/files/minecraftia-regular-webfont.woff') format('woff'),
    url('fonts/files/minecraftia-regular-webfont.ttf') format('truetype'),
    url('fonts/files/minecraftia-regular-webfont.svg#minecraftiaregular')
      format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'WebFontIcons';
  src: url('fonts/files/webfont-icons.eot?v=4.5.0');
  src: url('fonts/files/webfont-icons.eot?#iefix&v=4.5.0')
      format('embedded-opentype'),
    url('fonts/files/webfont-icons.woff?v=4.5.0') format('woff'),
    url('fonts/files/webfont-icons.ttf?v=4.5.0') format('truetype'),
    url('fonts/files/webfont-icons.svg?v=4.5.0#webfonticons') format('svg');
  font-weight: normal;
  font-style: normal;
}

@define-mixin icon $type {
  display: inline-block;
  font: normal normal normal 14px/1 WebFontIcons;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &::before {
    @extend $type;
  }
}

@define-extend twitter {
  content: '\61';
}
@define-extend keybindings {
  content: '\62';
}
@define-extend play {
  content: '\63';
}
@define-extend duplicate {
  content: '\64';
}
@define-extend eraser {
  content: '\65';
}
@define-extend pause {
  content: '\66';
}
@define-extend screen-full {
  content: '\67';
}
@define-extend paint-brush {
  content: '\68';
}
@define-extend move {
  content: '\69';
}
@define-extend screen-normal {
  content: '\6a';
}
@define-extend frames {
  content: '\6b';
}
@define-extend columns {
  content: '\6c';
}
@define-extend rows {
  content: '\6d';
}
@define-extend bucket {
  content: '\6e';
}
@define-extend eyedropper {
  content: '\6f';
}
@define-extend undo {
  content: '\70';
}
@define-extend redo {
  content: '\71';
}
@define-extend download {
  content: '\72';
}
@define-extend help {
  content: '\73';
}
@define-extend trash {
  content: '\74';
}

.icon-help {
  @mixin icon help;
}
