{
    "extends": ["airbnb"],
    "env": {
        "browser": true,
        "node": true,
        "mocha": true
    },
    "ecmaFeatures": {
        "forOf": true,
        "jsx": true,
        "es6": true
    },
    "rules": {
        "comma-dangle": 0,
        "indent": [2, 2, {"SwitchCase": 1}],
        "react/prop-types": 0,
        "func-names": 0,
        "arrow-body-style": [2, "as-needed"],
        "no-underscore-dangle": ["error", { "allow": ["__INITIAL_STATE__"] }],
        "new-cap": ["error", {"capIsNewExceptions": ["Map", "List"]}],
        "react/prefer-es6-class": 1,
        "no-restricted-syntax": 0,
        "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
        "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
        "quote-props": ["error", "consistent"],
        "no-console": 0,
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
        "jsx-a11y/no-static-element-interactions": 0
    },
    "globals": {
        "$": true
    }
}
