{
  "extends": [
    "stylelint-config-recommended",
    "stylelint-config-lost"
  ],
  "rules": {
    "at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": ["mixin", "if", "extend", "/^define[a-z]*/"]
      }
    ],
    "font-family-no-missing-generic-family-keyword": null
  }
}
