.cookies-disclaimer {
  padding: 2em;
  text-align: left;
  color: $color-silver;
  width: 50%;
  margin: 0 auto;
  h2 {
    font-size: 2.5em;
    top: 0;
    margin: 1em 0 1.5em 0;
    display: block;
    text-align: center;
    padding: 0;
  }
  h3 {
    font-size: 1.5em;
  }
  a {
    text-decoration: none;
    color: #78b4ff;
  }
  li {
    list-style-type: none;
  }
  ul li:before {
    content: '•';
    font-size: 100%;
    padding-right: 10px;
  }
  span.highlight {
    color: $color-brandyRose;
  }
}

@media only screen and (max-width: 1200px) {
  .cookies-disclaimer {
    width: 80%;
  }
}

@media only screen and (max-width: 700px) {
  .cookies-disclaimer {
    width: 90%;
  }
}
