.react-cookie-banner {
  position: relative;
  background-color: $color-mineShaft;
  width: 100%;
  z-index: 0;
  clear: both;
  display: table;
  padding: 0.5em;
  text-align: center;
  font-size: 0.9em;

  .button-close {
    position: relative;
    line-height: 24px;
    opacity: 0.5;
    background-color: white;
    font-weight: 500;
    color: $color-mineShaft;
    cursor: pointer;
    padding: 0.2em;
    margin: 0.5em auto;
    width: 11em;
  }

  .cookie-message {
    font-weight: 500;
    color: $color-silver;
    position: relative;
    display: block;

    a {
      text-decoration: none;
      color: $color-steelblue;
    }
  }
}
