header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  color: $color-silver;
  margin: 1em 0;
  a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: inherit;
    &:visited,
    &:hover,
    &:active {
      color: inherit;
    }
  }
  h1 {
    margin: 0;
  }
}

@media only screen and (max-width: 460px) {
  h1 {
    font-size: 2em;
  }
}

@media only screen and (max-width: 730px) {
  header {
    flex-direction: column;
  }
}
