@media only screen and (max-width: 935px) {
  .app__left-side,
  .app__right-side {
    width: 100% !important;
  }
}

@media only screen and (max-width: 780px) {
  .dimensions {
    label {
      font-size: 1.5em !important;
      top: -0.2em;
    }
  }
}
