doctype html
html
  head
    title= 'Pixel Art to CSS'
    meta(name='description', content='Handy and fun pixel art tool, where your drawing will be transformed to CSS')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='shortcut icon', href='favicon.ico', type='image/x-icon')
    link(rel='stylesheet', href='main.css')
  body
  header.grid
    .col-2-3
      h1 Pixel Art to CSS
    .credits-wrapper.col-1-3
      div
        h2
          | by 
          a(target='_blank', href='http://www.jvrpath.com/') jvalen
        iframe(src='https://ghbtns.com/github-btn.html?user=jvalen&repo=pixel-art-react&type=star&count=true&size=large', frameborder='0', scrolling='0', width='120px', height='30px')
  script.
      window.__INITIAL_STATE__ = !{initialState}
  div(id="app") !{reactOutput}
  script(src='bundle.js')
  script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-72177072-1', 'auto');
      ga('send', 'pageview');
