#app {

  .app__frames-container,
  .app__main-container {
    lost-utility: clearfix;
  }

  .app__load-save-container {
    .app__load-button {
      @mixin button red;
    }
    lost-utility: clearfix;
    > div,
    > button {
      lost-column: 1/2 0 0.5em;
    }
  }

  .app__social-container {
    lost-utility: clearfix;
    > div,
    > button {
      lost-column: 1/2 0 0.5em;
    }
    .app__twitter-button {
      @mixin button blue;
      @mixin icon twitter;
    }
    .app__download-button {
      @mixin button brown;
      @mixin icon download;
    }
  }

  .app__preview-button,
  .app__copycss-button {
    @mixin button gray;
    width: 100%;
  }




/*
  .tools-wrapper {
    text-align: center;
  }
  .load-save-container {
    margin-bottom: 1.5em;
  }
  .load-button-wrapper {
    width: 48%;
    float: left;
    button {
      margin: 0 auto;
      display: table;
      width: 100%;
    }
  }
  .save-button-wrapper {
    width: 48%;
    float: right;
    button {
      margin: 0 auto;
      display: table;
      width: 100%;
    }
  }
*/
}
