#app {
  .app__main-container {
    lost-utility: clearfix;
  }

  .app__frames-container {
    margin-bottom: 1em;
  }

  .app__load-save-container {
    .app__load-button {
      @mixin button gray;
    }
    lost-utility: clearfix;
    > div,
    > button {
      lost-column: 1/2 0 0.5em;
    }
  }

  .app__social-container {
    lost-utility: clearfix;
    margin: 1em 0;
    > div,
    > button {
      lost-column: 1/2 0 0.5em;
    }
    .app__twitter-button {
      @mixin button blue;
      @mixin icon twitter;
    }
    .app__download-button {
      @mixin button brown;
      @mixin icon download;
    }
  }

  .app__copycss-button {
    @mixin button white;
    width: 100%;
    margin-top: 1em;
  }

  .app__preview-button {
    @mixin button gray;
    width: 80%;
    margin: 1em auto;
    display: table;
  }

  .app__tools-wrapper {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 1em 0;
    & > div {
      flex: 0 0 33%;
    }
  }

  .app__left-side,
  .app__right-side {
    width: 80%;
  }
}
