.cell-size {
  border: 3px solid $color-boulder;
  background-color: $color-mineShaft;
  color: $color-silver;
  text-align: center;

  label,
  input {
    padding-top: 0.2em;
  }

  label {
    display: block;
  }
}
