.copy-css {
  h2 {
    padding: 2em 0 1em;
    margin-bottom: 0;
    font-size: 1em;
    display: block;
    text-align: center;

    span {
      color: $color-tamarillo;
    }
  }

  .copy-css__string {
    overflow-x: scroll;
    background-color: $color-mineShaft;
    color: $color-silver;
    padding: 0.5em;
    text-align: left;
  }
}
