.dimensions {
  margin: 1em 0 0;
  padding: 0.5em;
  .dimensions__columns {
    @mixin icon columns;
  }
  .dimensions__rows {
    @mixin icon rows;
  }

  .dimensions__columns,
  .dimensions__rows {
    text-align: center;
    margin: 0.5em auto;
    display: table;
    input {
      width: 50%;
      border: 3px solid $color-boulder;
      background-color: $color-mineShaft;
      padding: 0.3em 0;
      &:focus {
        border: solid 3px $color-dustyGray;
        outline: none;
      }
    }
    &::before {
      width: 50px;
      height: 50px;
      display: inline-block;
      font-size: 2.5em;
      color: $color-mineShaft;
      position: relative;
      top: 0.25em;
      margin-right: 0.4em;
    }
  }
}
