.download-btn-group {
  margin: 0 auto;
  text-align: center;
}

.download-btn {
  margin: 1.5em .5em;
  display: inline-block;
}

.download-btn.download-drawing {
  @mixin button brown;
}

.download-btn.download-gif {
  @mixin button blue;
}
