.duration {
  margin-top: 1em;
  border: 3px solid $color-boulder;
  background-color: $color-mineShaft;
  color: $color-silver;
  text-align: center;

  label,
  input {
    padding: 0.2em 0;
  }

  label {
    display: block;
  }
}
