.duration {
  lost-utility: clearfix;
  position: relative;
  margin-top: 2em;
  margin-bottom: 0.5em;
  border-bottom: 1px solid $color-mineShaft;
  padding-bottom: 0.5em;
  text-align: center;
  label,
  input {
    color: $color-mineShaft;
  }

  label {
    float: left;
  }

  input {
    width: 3em;
    text-align: center;
    float: left;
    &:focus {
      color: $color-silver;
    }
  }
}
