.frames-handler {
  lost-utility: clearfix;

  .frames-handler__add {
    @mixin button gray;

    height: 86px;
    float: left;
  }

  .frame-handler__list {
    display: flex;
    background-color: $color-back-frames;
    padding: 0.2em;

    .list__container {
      height: 85px;
      display: flex;
      flex-wrap: nowrap;
      padding-bottom: 0.5em;
    }
  }
}
