.load-drawing {
  h2 {
    padding: 2em 0 0;
    margin-bottom: 0;
    font-size: 1em;
    display: block;
    text-align: center;
  }

  .load-drawing__container {
    max-height: 400;
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;

    &.empty {
      overflow-y: hidden;
      display: block;
    }

    .load-drawing__drawing {
      position: relative;
      border: 3px solid black;
      cursor: pointer;
      flex: 1 1 25%;
      min-height: 200;
      margin: 1em;
      padding: 0.5em 0;

      .drawing__delete {
        @mixin icon trash-o;

        position: absolute;
        font-size: 1.7em;
        color: white;
        top: 0;
        right: 0;
        cursor: no-drop;
        padding: 0.1em;
        background-color: $color-mineShaft;
        border: 2px solid black;
        border-width: 0 0 2px 2px;
      }

      .preview {
        margin: 0 auto;
      }
    }
  }

  .load-drawing__export {
    overflow-y: scroll;
    background-color: $color-mineShaft;
    color: $color-silver;
    padding: 0.5em;
    text-align: left;
  }

  .load-drawing__import {
    font-family: $font-monospace;
    width: 100%;
    resize: none;
    height: 25em;
    margin: 1em 0 0;
    padding: 0.5em;
    background-color: $color-mineShaft;
    color: $color-silver;
  }

  .import__button {
    @mixin button red;

    margin: 1.5em auto;
    display: table;
  }
}
