.output {
  text-align: center;
  button.copy-to-clipboard {
    @mixin button brown;
    padding: 0.3em 0.6em 0.1em 0.7em;
    margin: 0.5em 0.5em 0;
  }
  .output__text {
    font-family: $font-monospace;
    overflow-x: auto;
    margin: 1em auto;
    background-color: $color-mineShaft;
    color: $color-silver;
    padding: 0.5em;
    text-align: left;
    display: block;
    width: 100%;
    resize: none;
    height: 20em;
  }
  .output__pre {
    white-space: pre;
  }
}
