.output {
  button.copy-to-clipboard {
    @mixin button brown;
    padding: 0.3em 0.6em 0.1em 0.7em;
    margin-top: 0.5em;
  }
  .output__text {
    font-family: $font-monospace;
    overflow-x: hidden;
    margin: 1em auto;
    background-color: $color-mineShaft;
    color: $color-silver;
    padding: 0.5em;
    text-align: left;
    display: block;
    width: 100%;
    resize: none;
    height: 20em;
  }
  .output__successMessage {
    padding: 0 1em;
  }
}
