.simple-notification {
  background-color: #313131;
  color: $color-silver;
  width: 25%;
  text-align: center;
  padding: 1em;
  position: absolute;
  z-index: 1;
  left: 38%;
  top: 1em;
  border: 1px solid orange;
}

/* ReactCSSTransitionGroup related rules */
.simple-notification-enter {
  opacity: 0.01;
}

.simple-notification-enter.simple-notification-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.simple-notification-leave {
  opacity: 1;
}

.simple-notification-leave.simple-notification-leave-active {
  opacity: 0.01;
  transition: opacity 1000ms ease-out;
}
