.twitter-form {
  text-align: center;
  margin: '0 auto';
  display: 'table';

  h2,
  h3 {
    padding: 1em 0;
    font-size: 1.5em;
    display: block;
    width: 80%;
    margin: 1em auto;
  }

  h3 {
    font-size: 1em;
  }

  textarea {
    width: 80%;
    resize: none;
    height: 6em;
  }

  .twitter-form__count {
    margin: 1em auto;

    &.max-reached {
      color: $color-tamarillo;
    }
  }

  .twitter-form__tweet {
    @mixin button blue;

    span {
      @mixin icon twitter;

      font-size: 2.3em;
      padding: 0 0.2em;
    }
  }
}
