.undo-redo {
  lost-utility: clearfix;

  button {
    @mixin button gray;

    lost-column: 1/2 0 0.5em;
    font-size: 1.2em;
  }

  .undo-redo__icon--undo {
    @mixin icon undo;

    display: block;
  }

  .undo-redo__icon--redo {
    @mixin icon repeat;

    display: block;
  }
}
