.useful-data {
  text-align: center;
  .useful-data__rows {
    border: none;
    background-color: $color-alto;
    padding: 1em 0;
    .checkbox {
      padding: 0.8em 0;
    }
  }
  .useful-data__export {
    overflow-x: scroll;
    margin: 0 auto;
    background-color: $color-mineShaft;
    color: $color-silver;
    padding: 0.5em;
    text-align: left;
    margin-top: 1em;
  }
}
