extends mainLayout.pug

block content
  div(class="not-found")
    h2 Oops! No pixels to draw here
    div(class="art-wrapper")
      div(class="pixelart-notfound")
    a(href="/")
      | Go back to the editor
