$font-pixel: 'minecraftiaregular', 'Helvetica Neue Light', 'Helvetica Neue',
  'Helvetica', 'Arial', sans-serif;
$font-icons: 'WebFontIcons';
$font-monospace: 'monospace';

$max-width-container: 12em;

$color-scorpion: #585858;
$color-boulder: #757575;
$color-dustyGray: #969696;
$color-silver: #bbb;
$color-brandyRose: #b17e7e;

/* Button colors */
$color-tamarillo: #961818;
$color-darkTan: #6b1010;
$color-moccaccino: #741515;

$color-mineShaft: #313131;
$color-doveGray: #707070;
$color-tundora: #4b4949;

$color-lotus: #803c3c;
$color-buccaneer: #733939;
$color-cowboy: #552a2a;

$color-steelblue: #5786c1;
$color-sanMarino: #4171ae;
$color-eastBay: #3a587f;

$color-chathamsBlue: #164075;
$color-chambray: #2f5382;
$color-cloudBurst: #253c5a;

$color-shrub: #0e8044;

$color-alto: #e0e0e0;
$color-silveChalice: #a0a0a0;
$color-nobel: #b7b7b7;

$color-back-frames: rgba(51, 50, 50, 0.2);
