input[type="text"] {
  font-family: sans-serif;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  text-align: center;
  font-size: 1em;
  color: $color-silver;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $color-boulder;
  transition: border 0.3s;
  &:focus {
    border-bottom: solid 1px $color-dustyGray;
    outline: none;
  }
}
